### Player Count

* Total Number of Players

### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

### Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames.
* You must include a written description of three observable trends based on the data.
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.

In [1]:
#dependencies
import pandas as pd

In [2]:
#load csv and prepare dataframe.
file = "Resources/purchase_data.csv"
purchase_data_df = pd.read_csv(file)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [3]:
# Player Count
total_players_df = purchase_data_df.groupby(purchase_data_df['SN'])
total_player_len = len(total_players_df)

# print statement: total players
print(f' The total number of players is: {total_player_len}')

#output total players as df
tpl_df = pd.DataFrame({'Total Players': total_player_len}, 
                      index=[0])
tpl_df

 The total number of players is: 576

   Total Players
0            576

In [4]:
# Purchasing Analysis (Total)
# Number of Unique Items
unique_items_df = purchase_data_df.groupby(purchase_data_df['Item ID'])
unique_item_count = len(unique_items_df)

# Average Purchase Price
avg_price = round(purchase_data_df['Price'].mean(), 2)

# Total Number of Purchases
total_purchases = len(purchase_data_df['Purchase ID'])

# Total Revenue
total_revenue = purchase_data_df['Price'].sum()
total_revenue =  float(total_revenue)

# presentation dataframe
purchase_analysis_df = pd.DataFrame({'Number of Unique Items': unique_item_count,
                                    'Average Price': avg_price,
                                    'Number of Purchases': total_purchases,
                                    'Total Revenue': total_revenue},
                                   index=[0])

#format purchase analysis dataframe
purchase_analysis_df['Average Price'] = purchase_analysis_df['Average Price'].map('${:,.2f}'.format)
purchase_analysis_df['Total Revenue'] = purchase_analysis_df['Total Revenue'].map('${:,.2f}'.format)


purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [5]:
# Gender Demographics

unique_users = purchase_data_df.copy()
unique_users.drop_duplicates(subset ="SN", keep = 'first', inplace = True) 
user_count = len(unique_users)

gender_df = unique_users.groupby(unique_users['Gender'])
gender_count = gender_df.count()
gender_count = gender_count.reset_index(drop=False)

# Percentage and Count of Male Players

male_count = gender_count.iloc[1,1]
male_percent = round(male_count / user_count * 100 , 2)


# Percentage and Count of Female Players

female_count = gender_count.iloc[0,1]
female_percent = round(female_count / user_count * 100 , 2)


# Percentage and Count of Other / Non-Disclosed
ndgender_count = gender_count.iloc[2,1]
ndgender_percent = round(ndgender_count / user_count * 100 , 2)

# Gender Demographics
gender_demographic_df = pd.DataFrame({'Total Count':[male_count, female_count, ndgender_count],
                                        'Percent of Players':[male_percent, female_percent, ndgender_percent]},
                                        index = ['Male','Female','Other/Non-Disclosed'])
gender_demographic_df

                     Total Count  Percent of Players
Male                         484               84.03
Female                        81               14.06
Other/Non-Disclosed           11                1.91

In [6]:
# Purchasing Analysis (Gender)
# The below each broken by gender

# Purchase Count
gender_purchase = purchase_data_df.groupby(purchase_data_df['Gender'])
gender_purchase_count = gender_purchase.count()

male_purchase_count = gender_purchase_count.iloc[1,1]
female_purchase_count = gender_purchase_count.iloc[0,1]
ndgender_purchase_count = gender_purchase_count.iloc[2,1]


# Average Purchase Price
gender_purchase_new = gender_purchase['Gender','Price']
gender_purchase_totals = gender_purchase_new.sum()

male_purchase_total = gender_purchase_totals.iloc[1,0]
avg_male_purchase = round(gender_purchase_totals.iloc[1,0] / male_purchase_count, 2)

female_purchase_total = gender_purchase_totals.iloc[0,0]
avg_female_purchase = round(gender_purchase_totals.iloc[0,0] / female_purchase_count, 2)

ndgender_purchase_total = gender_purchase_totals.iloc[2,0]
avg_ndgender_purchase = round(gender_purchase_totals.iloc[2,0] / ndgender_purchase_count, 2)


# Total Purchase Value
# See above under (gendername)_purchase_total


# Average Purchase Total per Person by Gender
avg_PTPP_male = round(male_purchase_total / male_count,2)
avg_PTPP_female = round(female_purchase_total / female_count,2)
avg_PTPP_ndgender = round(ndgender_purchase_total / ndgender_count,2)


# Gender Purchases
gender_purchases_df = pd.DataFrame({'Purchase Count':[female_purchase_count, male_purchase_count, ndgender_purchase_count],
                                        'Average Purchase Price':[avg_female_purchase, avg_male_purchase, avg_ndgender_purchase],
                                    'Total Purchase Value':[female_purchase_total, male_purchase_total, ndgender_purchase_total],
                                       'Average Purchase Total per Person':[avg_PTPP_female, avg_PTPP_male, avg_PTPP_ndgender]},
                                        index = ['Female','Male','Other/Non-Disclosed'])
#format
gender_purchases_df['Average Price'] = gender_purchases_df['Average Purchase Price'].map('${:,.2f}'.format)
gender_purchases_df['Total Revenue'] = gender_purchases_df['Total Purchase Value'].map('${:,.2f}'.format)
gender_purchases_df['Total Revenue'] = gender_purchases_df['Average Purchase Total per Person'].map('${:,.2f}'.format)

gender_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person,Average Price,Total Revenue
Female,113,3.20,361.94,4.47,$3.20,$4.47
Male,652,3.02,1967.64,4.07,$3.02,$4.07
Other/Non-Disclosed,15,3.35,50.19,4.56,$3.35,$4.56

In [7]:
# Age Demographics
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count


# Average Purchase Price


# Total Purchase Value


# Average Purchase Total per Person by Age Group

In [8]:
# Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN


# Purchase Count


# Average Purchase Price


# Total Purchase Value

In [9]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID


# Item Name


# Purchase Count


# Item Price


# Total Purchase Value

In [10]:
# Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID


# Item Name


# Purchase Count


# Item Price


# Total Purchase Value